.cabecalho{
    background-color:#3f143b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{  
    width: 20%;
    padding: 12px;  
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px 0;
}

.projeto-título{
    text-align: center;
    padding: 16px 0;
}


.projeto-div{
    text-align: center;
    padding: 50px 0;
}

.rodape{
    background-color: black;
    text-align: center;
}


.rodape-imagem{
    height: 60px 0;
    padding: 12px 0;
}